<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Fastest Times

    <a data-toggle="collapse" href="#sport_fastest_times_new_form">
      Add fastest time
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @sport.fastest_times.each do |fastest_time| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to fastest_time, fastest_time %>
        <!-- Show link end -->

        <!-- Delete link start -->
        <%= link_to fastest_time, method: :delete, data: { confirm: "Do you really want to delete this fastest_time" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="sport_fastest_times_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
