<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @sport, partial: "card", as: :sport %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "sports/sport_fastest_times" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "sports/sport_workouts" %>
  </div>
</div>
  <!-- Show Page Customization end -->
